
/*@charset "UTF-8"; */

/* My cool css stuff actually begins here. */
body { width: 100% auto ; 
	font-size:16px; 
	font-family: 'Optima'; 
	 }

section { height: 100vh; 
			/*opacity:.5;*/
		}
/*section img { display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: left; }
*/
#imagebox img { display: block;
		width: 75%;
		height: auto;
		margin: 0 auto;
		float: left; 
		/*margin: 10px; */
	}

h1 { color: rgba(233,236,33,1); 
	font-size: 3.236em; 
	text-align: center; 
	font-weight: 800; 
	font-family: 'Trade Winds','Optima'; 
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px #000; 
	margin-top: 10%;
	 }

h2 { color: rgba(252,255,61,.8); 
	font-size: 1.25em; 
	text-align: center; 
	font-family: 'Optima',sans-serif;
	margin-top: 12px;
	 }

h3 { color: rgba(252,255,61,.8); 
	 font-size: 1em; 
	 text-align: center; 
	 font-family: 'Optima',sans-serif; 
	 /*padding: 10px;*/
	 margin: 0;
	 float: left; }	
/*h4 { }	*/

/* line-height & margin stay same relative to size of font.*/ 
/*Line-height also known as leading & letter-spacing known as kerning*/
p { color: rgba(157,159,11,.75); 
	text-align: center; 
	font-family: Georgia; 
	font-size: 16px; 
	line-height: 1.5em; 
	margin: 2em; 
	letter-spacing: .65px;
	max-width: 400px; 
	border: 1px rgba(157,159,11,.25) solid;
	padding: 3px; }
/*a { }*/

a:link { color: rgba(36, 9, 76,1); text-decoration:none; }
a:hover { text-decoration: underline; 
			color: rgba(157,159,11,.75); }

hr { color: black; 
	width: 80%;
	margin-top: -2px; 
	}

ul { 
	margin-left: 25px; 
	margin-top: 15px; 
	padding: 0; 
	float:left; }

li {
	display: inline;
	background: rgba(233,236,33,1);
	font-family: 'Optima',Verdana;
	font-weight: 700;
	font-size: 1.25em;
	border: 1px solid black;
	padding-top: 10px;
	color: rgba(157,159,11,.75);
	text-align: center; 
	 }

li a { text-decoration: none;
		/*background-color: white; */
		padding: 20px 25px 30px -5px;
		float: left;
		/*margin-top: 10px;*/
	 }

nav { width: 382px;
	  height: 380px;
	  margin: 0px;
	  float: left;
	  /*background-color: rgba(80,0,159,1); */
	}		

footer { width: 770px;
			height: 38px;
			margin: 0;
			float: left;
			background-color: rgba(0,0,0,.65); 
			font-style: italic;
			font-family: Georgia, serif;
			text-align: center;
			padding: .25em 0px 0px; 
		}


/*img h3 { clear: all; 
			float: left;}*/

.master { width: 100%; 
		  margin: 0px auto;
		  float: left;
		  /*background-color: rgba(80,0,159,1);*/
		  }

.center { text-align: center;
		padding-top: 10px; }

.circlemargins { margin: 10px 0px 0px -10px; }

#intro {
		 background-color: rgba(36,9,76,1); 
		/*background : url(moon1a.png) no-repeat center center; */
		/*opacity: 20%; */
		 }
#portraitz { background-color: rgba(80,0,159,1); }
#designz { background-color: rgba(135,33,236,1); }
#about { background-color: rgba(157,159,11,1);}


#slogan { color: rgba(157,159,11,.75); 
		  text-align: center; 
		  font-family: Georgia; 
		  font-size: 14pt; 
		  background-color: none; 
		  font-style: italic; }
 
#leftcontainer { width: 490px; 	
				 height: 800px; 
				 margin: 0; 
				 float: left; 
				 /*background-color: rgba(0,0,0,.5); */
				}
	
#largelogo { width: 100%;
			height: 305px;
			margin: 0;
			float: left;
			/*background-color: rgba(80,0,159,.80);*/
			}	

/*#grayarea {  width: 185px;
				height: 189px;
				margin: 0;
				float: left;
				background-color: rgba(80,0,159,.75); 
			}*/	
							
/*#moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 5px 0 5px rgba(233,236,33,1);
  margin: 75px 50px 50px ;
  float: left; }*/

#littlelogo { width: 185px;
				height: 116px;
				margin: 0;
				float: left;
				/*background-image: url(littlelogo.jpg);*/
				/*background-color: rgba(80,0,159,.65); */
			}

#textbox { width: 490px;
		   height: 495px;
		   /*padding-top: 75px;*/
		   margin: 0;
		   float: left;
		   /*background-color: rgba(80,0,159,.85);*/
		   }

#welcometext { background-color: rgba(80,0,159,.75); 
				padding: 15px; 
			 	 }

#welcomeh2 { background-color: rgba(80,0,159,.75);
				max-width: 400px; 
				margin-left: 2em; 
				margin-top: 15%;
			}

#rightcontainer { width: 765px;
				height: 800px;
				margin: 0;
				float: left;
				/*background-color: rgba(135,33,236,.25); */
				} 


#solidbox1 { width: 382px;
				height: 380px;
				margin: 0;
				float: left;
				/*background-color: rgba(80,0,159,.90); */
			}

#circle1 { width: 50px;
	height: 50px;
	background: rgba(233,236,33,1);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 100%; 
	margin: 25px 10px 10px 25px;
	padding: 15px; 
	float: left; }

#circle2 { width: 50px;
	height: 50px;
	background: rgba(233,236,33,1);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 100%; 
	margin: 25px 10px 10px 50px;
	padding: 15px; 
	float: left; }		

#circle3 { width: 50px;
	height: 50px;
	background: rgba(233,236,33,1);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 100%; 
	margin: 10px 10px 10px 100px;
	padding: 15px; 
	float: left; }		


#imagebox { width: 382px;
				height: 380px;
				/*padding-bottom: 12px;*/
				margin: 0;
				float: left;
				/*background-color: rgba(80,0,159,90); */
			 /*background-image: url(pgscreenshot2.jpg);*/
			}
				

#solidbox2 { width: 382px;
				height: 380px;
				margin: 0;
				float: left;
				/*background-color: rgba(80,0,159,.95); */
			}

.clearfix:after { visibility: hidden;
					display: block;
					font-size: 0;
					content: " " ;
					clear: both;
					height: 0; }













