
/* My cool css stuff actually begins here. */
body { width: 100% ;
		font-family: 'Times New Roman',serif ; 
		font-size:16px;
		color: rgba(0,0,0,1);  
		text-align: center;
/* Without this, the body has excess horizontal scroll when the menu is open */
		  overflow-x: hidden;
}
	

h1, h2, h3,h4 {
	/*color: rgba());*/
	text-align: center; }	

h1 { 
		/*color: rgba(); */
		font-size: 1.618em; 		
		font-weight: 800; } 

h2 { font-size: 2em; font-weight: 600;}

h3 { font-size: 1.5em; font-style: italic; margin: 1% 0; }
h4 { font-size: 1em; font-weight: 500; }


p { color: rgba(0,0,0,1); 
	text-align: center; 
	font-family: 'Times New Roman',serif; 
	line-height: 1.618em; 
	margin: 0 auto;
	margin-bottom: 30px; 
	/*margin-left: 40px;*/
	letter-spacing: .65px;
	width: 100%;
	max-width: 600px; 
	/*padding: 1px; 
	float: left;*/
	}
section { height: 100vh; 
			overflow: auto;	
		}	
/*img { width: 100%; }		*/

hr { color: black; width: 150px; }
	 
header { /*background-color: rgba(0,0,0,.3);*/
		width: 100%;
	  	height: auto;
	  	/*float: left; */
	  	/*border: white solid 1px;*/
	  	position: relative;
	  	}
header img { max-width: 50%;}	  	
nav ul { margin-top: 0%; }
ul {
	 margin-top: 2%; 
	 padding: 1%;
	 /*margin-left: 175px;  
	 float:left; */
	}

li {
	/*display: inline;*/
	/*background: rgba(233,236,33,.5);
	font-family: ;*/
	font-weight: 600;
	/*font-size: 1em;*/
	/*color: rgba( 0,0,0,1);*/
	/*border: 1px solid black;*/
	/*padding-top: 5px;*/
	text-align: left; 
	 }

li a { 
	text-decoration: none;
		/*background-color: rgba(); */
		color: rgba(0,0,0,1) ;
	 }
a:hover { text-decoration:underline; 
			color: rgba( 255,255,229,1); 
		 }	
article { width: 80%;
			margin: 0 auto;
			text-align: center; 
			padding: 1%; }

footer { margin: 0 auto;
		width: 100%;
	  	height: 30vh;
	  	background: url(bg3a.png) center center no-repeat;
	  	background-color: rgba(255,255,229,1);	  	
		font-style: italic;
		padding: 1em;
		float: left; 
	}	
footer a { 
	position: relative;
		top: 100%;
		right: 0%;
		margin: 0 auto;
		text-decoration: none;
		background-color: rgba(255,255,229,1); 
		color: rgba(0,0,0,1) ;
		padding: .5%; }
footer a:hover { color: rgba( 46,123,54,1); }
footer p { margin-bottom: 10px; }			

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}


.master { width: 95%; 
		  height: 100%;
		  /*max-width: 980px;*/
		  margin: 0 auto;
		  /*border: 1% solid black;*/
		  background: url() no-repeat center;
		  /*opacity: 0.75;*/
		  /*box-shadow: 10px;*/
		  float: left;
		 /* background-color: rgba(242,246,142,1);*/
		  }	

.container { width: 90%;
				margin: 5% auto;
				/*top: 25%;*/
				/*transform: translateY(-60%);*/
				/*margin-left: 5%;
				margin-top: 10%;*/
				position: relative;
				/*background-color: white;*/
				/*float: left;*/
			}
.container img { width: 50%; }			

.button { width: 10%;
			height: 10%;
			/*background: rgba(233,236,33,1);*/
			/*margin: 0 auto;*/
			padding: 1%; 
			/*float: left; */
		}	
.gap { width: 100%;
	height: 2%;
	margin: 0 auto; }	

.styledslogan { 
				font-size: 3em;
				text-transform: capitalize;
				/*border-top: 1px solid rgba(94,251,110,1);*/
				border-bottom: 5px solid rgba(0,0,0,1);
				width: 30%;
				margin: 0 auto;
				padding: 1%;
				line-height: 100%;
				text-align: center;
				text-shadow: 
				0 .032em 0 #b0b0b0,
				0 .08em .05em rgba(0,0,0,.25);
				/*0 .25em .021em rgba(0,0,0,.1),
				0 .32em .32em rgba(0,0,0,.1)*/
				color: rgba( 46,123,54,1);
				font-family: 'Matura MT Script Capitals','Kaushan Script','cursive';
			}
.bgwhite { background-color: rgba( 255,255,229,1);}	

/* ---------------Navigation Menu - Background--------------------------- */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;  
  /* non-critical appearance styles */
  list-style: none;
  background: rgba(0,0,0,1);
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: rgba( 255,255,229,1);
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: rgba( 46,123,54,1);
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  /* Needs a background or else the nav will show through */
  background-color: rgba( 255,255,229,1); 
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;  
  /* non-critical apperance styles */
  /*padding: 1em;*/
  background-size: 100%;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 160px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
/*----------------------New Nav ends here---------------*/

.clearfix:after { visibility: hidden;
					display: block;
					font-size: 0;
					content: "" ;
					clear: both;
					height: 0; }

#home { 
		background-color: rgba( 255,255,229,.8);}
#ourprograms { 
			background-color: rgba( 46,123,54,.8);}
#instructors {
			background-color: rgba( 255,255,229,.8);}
#class_schedule { 
			background-color: rgba( 46,123,54,.8);}
#contactus {
			background-color: rgba( 255,255,229,.8);}

#logo { 
		width: 50%;
		height: auto;
		margin: 0 auto;
		text-align: center; 
	}
#class_schedule ul li h3 { display: block; 
						text-align: center; 
						margin-left: 5%; 
						text-transform: uppercase;
							}	
#class_schedule ul li h4 { text-align: center;  }												


/*-------------------Mobile First-----------------*/
@media only screen and (max-width: 550px) { 
body { width: 100%;
		font-size: 14px;}
h1,h2,h3 { margin-top: 2%; margin-bottom: 2%;}		
header { 
	position: relative;}
header img { max-width: 60%;}	

/*section { height: auto; 
			overflow: auto;	
		}*/
.container { width: 90%;
				margin-left: 10%;
				margin-top: 4%;
				margin-bottom: 15%;
				position: relative;
			}		
.container img { width: 90%;
					margin-top: 25%; }	
.styledslogan { 
				font-size: 3em;
				text-transform: capitalize;
				border-bottom: 5px solid rgba(0,0,0,1);
				width: 70%;
				margin: 0 auto;
				padding: 1%;
				line-height: 100%;
				text-align: center;				
				text-shadow: 0 .032em 0 #b0b0b0,
				0 .08em .05em rgba(0,0,0,.25);				
				color: rgba( 46,123,54,1);
				font-family: 'Matura MT Script Capitals','Kaushan Script','cursive';
			}				

.nav-trigger:checked + label {
  left: 145px; }
.nav-trigger:checked ~ .site-wrap {
  left: 130px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}  

.top { position: relative;
		top: 15%;
		 }	
.top2 { position: relative;
		top: 5%; }	

#logo { 
		width: 70%;
		height: auto;
		margin: 0 auto;  }	
}		 
/*----------------------Tablets/ med resolution--------------------*/

@media only screen and (min-width: 551px max-width: 1023px ) { 

body { width: 100%; }	

.styledslogan { 
				font-size: 1em;
				text-transform: capitalize;
				border-bottom: 5px solid rgba(0,0,0,1);
				width: 70%;
				margin: 0 auto;
				padding: 1%;
				line-height: 100%;
				text-align: center;				
				text-shadow: 0 .032em 0 #b0b0b0,
				0 .08em .05em rgba(0,0,0,.25);				
				color: rgba( 46,123,54,1);
				font-family: 'Matura MT Script Capitals','Kaushan Script','cursive';
			}	

.top { position: relative;
		top: 25%; 
			}		
.top2 { position: relative;
		top: 10%; }				

}



/*--------------------larger resolution------------------*/

@media only screen and (min-width: 1024px) { 

body { width: 100%;	}

label[for="nav-trigger"] { display: none; }	

.navigation { 
				 /* critical sizing and position styles */
				  width: 140px;
				  height: 54%;
				  position: fixed;
				  top: 0;
				  right: 0;
				  bottom: 0;
				  left: 0;				  
				  /* non-critical appearance styles */
				  list-style: none;
				  /*background: rgba(0,0,0,1);*/
				 z-index: 2; }
#navigation ul { margin-top: 0%;}				 
/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 140px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: rgba(0,0,0,1);
  color: rgba( 255,255,229,1);
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: rgba( 46,123,54,1);
}				 
/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  /* Needs a background or else the nav will show through */
  background-color: rgba( 255,255,229,1); 
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
  background-size: 0%; }

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  display: none; }

.top { position: relative;
		top: 25%; }	

.top2 { position: relative;
		top: 10%; }		

#container_margin { top: 10%; }	

}






