
@charset "UTF-8"; 

/* My cool css stuff actually begins here. */
body { font-family: Georgia; font-size:12pt; background: rgba(242,246,142,1); }

/*h1 { color: #8721EC; font-size: 15pt; text-align: center; } */

/*h2 { color: #FCFF3D; font-size: 14pt; text-align: center; }*/

/*p { color: #9D9F08; text-align: center; }*/

/*hr { color: black; width: 150px; }*/
