// sass items begin here....
$font-primary: 'Acta display', serif;
$font-secondary: 'Source sans Pro', sans-serif ;
$font-tertiary: 'Fondamento';
$darkgrey: #b8b9c9;
$lightgrey: #cdd8e8;
$blue: #80d2ff;
$green: #a0d8cd;
$egg: #FFF7E5;

// @extend goodies here...........//
%highlight {
  // background-color: $egg;
  font-family: $font-primary;
  color: $green;
}

%gallerygoods {
  h3 {
    text-align: center;
  }
  img {
    display: none;
    border-radius: 200px;
  }
  img:first-of-type {
    display: block;
  }
  div {
    display: inline-block;
    width: 80%;
  }
}

/*<.........course galleries.......> */
#courses1 {
  @extend %gallerygoods ;
}

#courses2 {
  @extend %gallerygoods ;
}

#courses3 {
  @extend %gallerygoods ;
}

#partners {
  height: 25vh;

  h4 {
    text-align: center;
    color: $egg;
    background-color: $darkgrey;
    border-left: 1px solid darken($darkgrey, 20%);
    border-right: 1px solid darken($darkgrey, 20%);
    border-bottom: 2px solid darken($darkgrey, 30%);
  }

  .partners-wrapper {
    max-width: 600px;
    margin: 0 auto 30px;
    border: 1px solid darken($darkgrey, 20%);

  }
  .slick-next:before,
  .slick-prev:before {
    /* Change arrow color */
    color: $green;
    /* Change arrow size */
    /*font-size: 30px;*/

  }

}



.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 100%;
  grid-column-gap: 10px;
}
button {
  background-color: $egg;
  border: 2px solid $darkgrey;
  border-radius: 200px;
  font-size: 14px;
  padding: 1px;
  margin:  5px;
  p {
    font-family: $font-tertiary;
    color: $darkgrey;
  }
  p:hover {
    background-color: $lightgrey; }
    p:active {
      background-color: $lightgrey;
    }

  }

  #previous {}
  #next {}

  /* #course-gallery1 {
  grid-column: 1;
  grid-row: 1;
} */
/*<.........course galleries end.......> */
