// sass items begin here....
$font-primary: 'Acta display', serif;
$font-secondary: 'Source sans Pro', sans-serif;
$font-tertiary: 'Fondamento';
$darkgrey: #b8b9c9;
$lightgrey: #cdd8e8;
$blue: #80d2ff;
$green: #a0d8cd;
$egg: #FFF7E5;

// @extend goodies here...........//
%highlight {
  // background-color: $egg;
  font-family: $font-primary;
  color: $green;
}
html {
  border: 1.7em solid #419e8c;

}
// <.......screen border overlay.......>
// html::after, html::before,
// body::after, body::before {
//   content: "";
//   position: fixed;
//   background-color: darken($green, 30%);
// }

// html::after{
//   top: 0;
//   right: 0;
//   width: 1em;
//   height: 100%;
// }
// html::before{
//   top: 0;
//   left: 0;
//   width: 1em;
//   height: 100%;
// }
// body::after{
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 1em;
// }
// body::before{
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 1em;
// }


/* <.........header........> */
header {
  height: 30vh;
  display: grid;
  grid-template-columns: 17.5% 83.5% ;
  width: 100%;
}


#logo {
  // text-shadow:  0 0.032em 0 #b0b0b0, 0 0.08em 0.05em rgba(0,0,0,.25);
}
#header-actions {

}
// <...........hamburger nav classes......>//
// most of this code was from: Starter_interactions sidebar_menu excercise
.hamburger {
  cursor: pointer;
  display: block;
  // position: fixed;
}

.line {
  border-bottom: 5px solid $green;
  width: 35px;
  margin-left: 7px;
  margin-bottom: 6px;
  box-shadow: 0 0.032em 0 $darkgrey, 0 0.08em 0.05em $lightgrey;

}
.line:first-child {
  margin-top: 30px;
}
.line:last-child {
  margin-bottom: 0;
}

.sidebar{
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.active{
  transform: translateX(0px);
  border: solid 1px $darkgrey;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  text-transform: capitalize;
  font-size: 20px;
  font-family: $font-tertiary;
}
// <<..............navigation...........>>
nav {
  width: 50%;
  height: 70%;
  background-color: $green;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  z-index: 100;

  h3 {
    color: $egg;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1rem 1rem 0;
    background-color: $green;

  }

  li {
    border-top: 1px solid $lightgrey;
    list-style: none;
    transition: all 300ms ease-in-out;
  }

  li:hover {
    background-color: lighten( $green, 10%);
    // hover on
    transition: background-color 1s;
  }

  a {
    color: $egg;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding: 1rem;
    display: block;
    // hover off
    transition: padding 2s;

  }
  a:active {
    background-color: saturate( $green, 10%);
    transition: background-color 1s;
  }

  li:first-child {
    margin-top: 2em;
  }

}
// <<...............header ends here...............>>
