@import "header";
@import "galleries";
// sass items begin here....
$font-primary: 'Acta display', serif;
$font-secondary: 'Source sans Pro', sans-serif ;
$font-tertiary: 'Fondamento';
$darkgrey: #b8b9c9;
$lightgrey: #cdd8e8;
$blue: #80d2ff;
$green: #a0d8cd;
$egg: #FFF7E5;

// @extend goodies here...........//
%highlight {
  // background-color: $egg;
  font-family: $font-primary;
  color: $green;
  text-transform: uppercase;
  border-bottom: 2px solid 50% $darkgrey;
  text-shadow:  0 0.032em 0 $darkgrey, 0 0.08em 0.05em $lightgrey;
}


// %highlight-gradient {
//   background-color: ; linear-gradient(to right, $blue, $green); }
/* .....font-families........ */
/* acta display ,    source sans pro */
/* .tk-source-sans-pro */
/* .tk-acta-display */


/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  // add padding to create room for the overlay border.
  padding: 1em;
  background-color: $egg;
}
section {
  height: 80vh;
  // overflow: auto;
}

h1 {
  font-family: $font-tertiary;
  font-size: 3em;
  background-color: $egg;
  text-shadow:  0 0.032em 0 $darkgrey, 0 0.08em 0.05em $lightgrey;
  // @extend %highlight-gradient;
}
h2 {
  @extend %highlight;
  // background-color: $green;
}

h3 {
  @extend %highlight;
  font-style: normal;
  font-weight: 500;
  text-align: center;

}

h4 {

}
h5 {
  @extend %highlight;
}

p {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  // line-height: 1.4
  color: $egg;
}


/* <................main container..................> */

#main-container {
  display: block;
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows: 1fr 1fr 1fr;

  a:hover {
    color: darken($blue, 30%);
    transition: color .5s;
  }
  a:active {
    color: darken($blue, 30%);
    transition: color .5s;
  }
  p {
    // background: lighten($blue, 15%);
    a {
      color: $blue;
      text-decoration: none;
    }

  }
}
#main-ad {
  grid-column: 1;
  grid-row: 1;

  img {
    transition: all 2s ease;
    width: 500px;
    border-radius: 0 200px 200px 200px;
    // border-radius: 200px;
    margin-left: 10px;
    opacity: .7;
  }
 .smaller-finch {
   width: 200px;
  transform: rotateY(360deg);
 }
}

#flyby {
  grid-column: 1;
  grid-row: 2;

  .flyby-wrapper {
    max-width: 600px;
  	margin: 10% auto 30px;
    // border: 1px solid darken($darkgrey, 20%);
   opacity: .5;
  }
  .slick-next:before,
  .slick-prev:before {
    display: none;
  	/* Change arrow color */
  	// color: $green;
  	/* Change arrow size */
  	/*font-size: 30px;*/

  }
}

.fadeout {
  opacity: .5;
}

#connect {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  height: 45vh;
  background-color: lighten( $blue, 15%);
  text-align: center;
  margin: 20px 0;
  padding: 1%;
  ul {
    padding-left: 0px;
    list-style: none;
    // width: 100%;
    margin: 20px;
  }
  li {

    // display: inline;
  }

  ul li a {
  padding: 10px;
  color: $egg;
  }
  a:hover, a:active {
  cursor: pointer;
  color: darken( $blue, 10%);
  transition: color .5s;
  }
  // p {
  //   padding: 1%;
  // }
  hr {
    width: 40%;
  }

}
.button_learnmore {
  width: 25%;
  position: relative;
  left: 10px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $blue;
  border-radius: 200px 200px 200px 0;
  padding: 2px;
}


.section-title {

}

/* ----------------------------------------
 About Us
------------------------------------------- */
#about-us
{

  background-color: $darkgrey;
}

#about_wrap {

  width: 100%;
  // height: 80vh;
  margin: 8px 0px 8px 0px;
  padding-top: 20px;
  h3 {
    // padding: 0 20px;
    text-shadow:  0 0.032em 0 #b0b0b0, 0 0.08em 0.05em rgba(0,0,0,.25);
  }
  article{
    padding: 2%;
  }
  article p {
    margin: 0 auto 20px;
    text-align: center;
   // padding: 2% ;
  }
  // article p {
  //   width: 80%;
  // }

}
figure {
 //  background-image: url("../images/image_aboutus.jpg");
 //  background-size: cover;
 //  background-repeat: no-repeat;
 //  transition: all 1s ease;
 //  width: 80%;
 //  height: 500px;
 //  border-radius: 200px;
 //  margin-left: 10px;
 //  opacity: .5;
 // z-index: -100;
 // display: block;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
  width: 100%;
  height: 20vh;
  background-color: $lightgrey;
  text-align: center;
  margin: 20px 0;
  padding-top: 20px;
}



// .....Make site responive from here......
@media screen and (max-width: 960px) {}

@media screen and (max-width: 770px) {
  p {
    font-size: 18px;
  }

  /* <........main container.......> */
  #main-ad {
    img {
      max-width: 100%;
    }
   .smaller-finch {
     max-width: 30%;
   }

  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 100%;
    grid-column-gap: 7px;
  }

}

@media screen and (max-width: 500px) {
  /* ----------------------------------------
  Base Styles
  ------------------------------------------- */
 section { height: auto;
  			// overflow: auto;
        button  p {
          font-size: 12px;
        }
  		}
 p {
   font-size: 16px;
 }


  /* <........main container.......> */

  #main-ad {
    img {
      max-width: 90%;
    }
   .smaller-finch {
     max-width: 30%;
   }

  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-column-gap: 5px;
  }


  #about_wrap {
    height: 90vh;
  }



}





// ..........end..........
