// sass items begin here....
$font-primary: 'Acta display', serif;
$font-secondary: 'Source sans Pro', sans-serif ;
// $font-tertiary: '';
$darkgrey: #b8b9c9;
$lightgrey: #cdd8e8;
$blue: #80d2ff;
$green: #a0d8cd;
$egg: #FFF7E5;

 // @extend goodies here...........//
 %highlight {
   background-color: $egg;
   font-family: $font-primary;
   color: $green;
 }

/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
margin: 0 auto;
background-color: $lightgrey;
}

/* <.........header........> */
header {
  display: grid;
  grid-template-columns: 17.5% 30% 52.5% ;
   width: 100%;
   /* border: red solid 1px; */
  }


#logo {

}
#header-actions {

}

nav {

}

/* <........main container.......> */

#main-container {
  display: block;
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows: 3fr 2fr 1fr;

}
#main-ad {
  grid-column: 1;
  grid-row: 1;
}
#second-ad {
  grid-column: 1;
  grid-row: 2;
}
#third-ad {
  grid-column: 1;
  grid-row: 3;
}
/*<.........course galleries.......> */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 100%;
}
/* #course-gallery1 {
  grid-column: 1;
  grid-row: 1;
} */



/* .....font-families........ */
/* acta display ,    source sans pro */
/* .tk-source-sans-pro */
/* .tk-acta-display */

h1 {
  @extend %highlight;
font-size: 2.5em;

}
h2 {

  // background-color: $green;
}


h3 {
  @extend %highlight;
font-style: normal;
font-weight: 500;
}

h4 {

}
h5 {
background-color: $darkgrey;
}

p {
  font-family: $font-secondary;
font-style: normal;
font-weight: 300
// background-color: $white;
}

.section-title {

}
/* ----------------------------------------
Footer
------------------------------------------- */
footer {
  ul {
  	list-style: none;
  	width: 100%;
  	margin: 20px ;
  }
  li {
  	display: inline;

  }
  /* ul li a {
  	color: #44545E;
  	padding: 10px;
  } */

}
