// sass items begin here....
$font-primary: 'Acta display', serif;
$font-secondary: 'Source sans Pro', sans-serif ;
$font-tertiary: 'Fondamento';
$darkgrey: #b8b9c9;
$lightgrey: #cdd8e8;
$blue: #80d2ff;
$green: #a0d8cd;
$egg: #FFF7E5;

// @extend goodies here...........//
%highlight {
  // background-color: $egg;
  font-family: $font-primary;
  color: $green;
}

// %highlight-gradient {
//   background-color: ; linear-gradient(to right, $blue, $green); }



/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: $egg;
}
section {
  // height: 100vh;
  // overflow: auto;
}


/* <.........header........> */
header {
  display: grid;
  grid-template-columns: 17.5% 30% 52.5% ;
  width: 100%;
}


#logo {

}
#header-actions {

}
// <...........hamburger nav classes......>//
// most of this code was from: Starter_interactions sidebar_menu excercise
.hamburger {
  cursor: pointer;
  display: block;
  // position: fixed;
}

.line {
  border-bottom: 5px solid $green;
  width: 35px;
  margin-left: 20px;
  margin-bottom: 6px;
}
.line:first-child {
  margin-top: 30px;
}
.line:last-child {
  margin-bottom: 0;
}

.sidebar{
transform: translateX(-100%);
transition: all 1s ease-in-out;
}

.active{
  transform: translateX(0px);
border: solid 1px $darkgrey;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  text-transform: capitalize;
  font-size: 20px;
}
// <<..............navigation...........>>
nav {
  width: 50%;
  height: 70%;
  background-color: $green;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  z-index: 100;

  h3 {
    color: $egg;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1rem 1rem 0;
    background-color: $green;
  }

  li {
    border-top: 1px solid $lightgrey;
    list-style: none;
    transition: all 300ms ease-in-out;
  }

  li:hover {
    background-color: saturate( $green, 10%);
  }

  a {
    color: $egg;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding: 1rem;
    display: block;
  }
  a:active {
    background-color: saturate( $green, 10%);
  }

  li:first-child {
    margin-top: 2em;
  }

}

/* <........main container.......> */

#main-container {
  display: block;
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows: 3fr 2fr 1fr;

  a:hover {
    color: darken($blue, 30%);}
  a:active {
    color: darken($blue, 30%);
  }
  p {
    // background: lighten($blue, 15%);
    a {
      color: $blue;
      text-decoration: none;
    }

  }
}
#main-ad {
  grid-column: 1;
  grid-row: 1;

  img {
    transition: all 1s ease;
    width: 500px;
    border-radius: 0 200px 200px 200px;
    // border-radius: 200px;
    margin-left: 10px;
    opacity: .7;
  }
 .smaller-finch {
   width: 200px;

 }

}
#second-ad {
  grid-column: 1;
  grid-row: 2;
}
#third-ad {
  grid-column: 1;
  grid-row: 3;
}
.button_learnmore {
  width: 25%;
  position: relative;
  left: 10px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $blue;
  border-radius: 200px 200px 200px 0;
  padding: 2px;
}

/*<.........course galleries.......> */
#courses1 {
  img {
  display: none;
  }
  img:first-of-type {
  display: block;
  }
}

#courses2 {
  img {
  display: none;
  }
  img:first-of-type {
  display: block;
  }
}

#courses3 {
  img {
  display: none;
  }
  img:first-of-type {
  display: block;
  }

}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 100%;
  grid-column-gap: 10px;
}
button {
  background-color: $egg;
  border: 2px solid $darkgrey;
  border-radius: 200px;
  font-size: 14px;
  padding: 1px;
  margin:  5px;
  p {
    font-family: $font-tertiary;
    color: $darkgrey;
  }
  p:hover {
    background-color: $lightgrey; }
  p:active {
    background-color: $lightgrey;
  }

}

#previous {}
#next {}

/* #course-gallery1 {
grid-column: 1;
grid-row: 1;
} */



/* .....font-families........ */
/* acta display ,    source sans pro */
/* .tk-source-sans-pro */
/* .tk-acta-display */

h1 {
  font-family: $font-tertiary;
  font-size: 2.5em;
  background-color: $egg;
  // @extend %highlight-gradient;
}
h2 {
  @extend %highlight;
  // background-color: $green;
}


h3 {
  @extend %highlight;
  font-style: normal;
  font-weight: 500;
}

h4 {

}
h5 {
  @extend %highlight;
}

p {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 300;
  color: $egg;
}

.section-title {

}

/* ----------------------------------------
 About Us
------------------------------------------- */
#about-us
{
 background-image: url("../images/image_aboutus.png");
 background-repeat: no-repeat;
 background-size: cover;

 // background-color: $lightgrey;
 // background-blend-mode: screen;
  // .info {
  //   max-width: 100%;
  //   z-index: 100;
  // }
  // p {
  //   font-family: $font-secondary;
  //   font-style: normal;
  //   font-weight: 300
  //   // background-color: $white;
  // }
}

#about_wrap {
  width: 100%;
  margin: 8px 0px 8px 0px;
}
figure {
 //  background-image: url("../images/image_aboutus.jpg");
 //  background-size: cover;
 //  background-repeat: no-repeat;
 //  transition: all 1s ease;
 //  width: 80%;
 //  height: 500px;
 //  border-radius: 200px;
 //  margin-left: 10px;
 //  opacity: .5;
 // z-index: -100;
 // display: block;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
  width: 100%;
  background-color: $lightgrey;
  ul {
    list-style: none;
    width: 100%;
    margin: 20px ;
  }
  li {
    display: inline;

  }
  /* ul li a {
  color: #44545E;
  padding: 10px;
} */

}


// .....Make site responive from here......
@media screen and (max-width: 960px) {}

@media screen and (max-width: 770px) {
  /* <........main container.......> */
  #main-ad {
    img {
      max-width: 100%;
    }
   .smaller-finch {
     max-width: 30%;
   }

  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 100%;
    grid-column-gap: 7px;
  }

}

@media screen and (max-width: 500px) {
  /* ----------------------------------------
  Base Styles
  ------------------------------------------- */
 section { height: auto;
  			overflow: auto;
  		}
 p {
   font-size: 12px;
 }


  /* <........main container.......> */

  #main-ad {
    img {
      max-width: 90%;
    }
   .smaller-finch {
     max-width: 30%;
   }

  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-column-gap: 5px;
  }


}





// ..........end..........
