
@charset "UTF-8"; 

/* My cool css stuff actually begins here. */
body { width: 100% auto ; font-size:12pt; font-family: Optima; }

h1 { color: rgba(233,236,33,1); font-size: 15pt; text-align: center; font-weight: 800; font-family: Optima; } 

h2 { color: rgba(252,255,61,1); font-size: 14pt; text-align: center; font-family: Optima; }

p { color: rgba(157,159,11,1); text-align: center; font-family: Georgia; background-color: #000; }

hr { color: black; width: 200px; }

#leftcontainer { width: 495px; 	
				 height: 800px; 
				 margin: 0; 
				 float: left; 
				 background-color: rgba(80,0,150,1);
				 border: 0px;
				 border-color: red; }

#rightcontainer { width: 770px;
				height: 800px;
				margin: 0;
				float: left;
				background-color: rgba(135,33,236,1); }		

#largelogo { width: 305px;
				height: 305px;
				margin: 0;
				float: left;
				background-color: rgba(135,33,236,.5); }	

#grayarea {  width: 189px;
				height: 189px;
				margin: 0;
				float: left;
				background-color: rgba(255,255,255,.5); }		

#littlelogo { width: 189px;
				height: 116px;
				margin: 0;
				float: left;
				background-color: rgba(135,33,236,.75); }

#textbox { width: 495px;
				height: 495px;
				margin: 0;
				float: left;
				background-color: rgba(135,33,236,.25); }	

#solidbox1 { width: 384px;
				height: 399px;
				margin: 0;
				float: left;
				background-color: rgba(255,255,255,.25); }

#nav { width: 384px;
				height: 399px;
				margin: 0;
				float: left;
				background-color: rgba(255,255,255,.5); }

#imagebox { width: 384px;
				height: 399px;
				margin: 0;
				float: left;
				background-color: rgba(255,255,255,1); }

#solidbox2 { width: 384px;
				height: 399px;
				margin: 0;
				float: left;
				background-color: rgba(255,255,255,.75); }


















